@font-face {
    font-family: 'abel';
    src: url('../assets/abel-v8-latin-regular.woff2') format('woff2'), url('../assets/abel-v8-latin-regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'abel';
    background: url('./logo.png');
}